*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --ff-inter: font-family: 'Inter', sans-serif;

}

body{
  font-size: 1.6rem;
  font-family: var(--ff-inter);
  background-color: #1E1E1E;
}

.page {
  max-width: 65%;
  padding: 38px;
  margin: 75px auto;
  display: flex;
  color: #E8E8E8;
  background-color: #323238;
  justify-content: center;
  border: 1px solid #323238;
    border-radius: 6px;
}


/*---------FORM-CONTENT-------*/

#my-form h1 {
  color: #959595;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

#my-form h1 span{
  color: #FFFFFF;
}

#my-form h1 img{
  margin-left: 6px;
}



/*=======FORM-DADOS-NOME/NUMERO=====*/
.data-content {
  display: flex;
  flex-direction: column;
}
#name-input{
  text-transform: uppercase;
}


.data-content label{
  font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  
  .data-content input {
    width: 30.0rem;
    height: 4.1rem;
    background: #121214;
    border: 1px solid #323238;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #959595;
    padding: 5px;
   }


.data-content-number input {
  width: 7rem;
  height: 4.1rem;

}




/*===EXPEDIÇÃO-CVC======*/
.data-content-tow {
  display: flex;
  gap: 1.4rem;
}

.data-content-min label {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.data-content-min input {
  width: 142.79px;
  height: 41px;
  background: #121214;
  border: 1px solid #323238;
  border-radius: 6px;
  color: #959595;
  padding: 5px;
}

#my-form button {
  align-items: center;
  padding: 16px 0px;
  width: 300px;
  height: 49px;
  background: #42D3FF;
  border-radius: 6px;
  border: none;
  margin-top: 32px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #121212;

  cursor: pointer;
}

#my-form button:hover{
  background: #0d9ac5;
}



.data-content-tow{
  display: flex;
}

.data-content-min{
  display: flex;
  flex-direction: column;
}


/*===========CARD-SECTION=============*/
.card-section{
  padding: 2.0rem;
  width: 45.0rem;
}
  
.card-content {
  max-width: 393px;
  height: 245px;
  background-color: rgb(27, 29, 29);
  padding: 20px;
  border-radius: 6px;
  margin-top: 37px;
}
/*-----topo-do-cartão-------*/

.top-card-content{
  display: flex;
  justify-content: space-between;
}

/* -----Campo-de-números-cartão---------*/

.number-of-card{
  display: flex;
  margin-top: 40px;
  color: #E8E8E8;
  gap: 20px;
  margin-bottom: 14px;
}

.number-of-card p{
  font-size: 24px;
  letter-spacing: 1px;
  text-shadow: 0px 1.28342px 3.20856px rgba(23, 23, 23, 0.4);
  font-weight: 700;
}
 

/* -----Campo-de-nome-do-cartão---------*/


.name-card-content p{
  font-size: 10px;
}

.name-card  {
  font-size: 14px;
  margin-top: 4px;
  
}

/* -----Campos de validade e ccv---------*/

.card-data{
  display: flex;
justify-content: space-between;
margin-top: 9px;
}

.card-data img{
  width: 105px;
}




.error-mensage {
  color: rgb(240, 0, 0);
  margin: 0 auto;
  text-align: center;
  padding: 1;
  margin-top: 1.0rem;
  font-weight: 700;
}









